.boxContainer_Container {
  background: "#fdd";
  text-align: "center";
}

.boxContainer {
  display: "inline-block";
  border: "thick dotted #060";
  margin: "0px auto 10px auto";
  text-align: "left";
}
